<div class="container">
    <div class="row">
      <div class="col-md-4">
        <!--<img id="mag2" ng-src="../img/honolulu_magazine2.jpeg" class="img-responsive animated fadeIn"/>-->
      </div>
      <div class="col-md-4" style="margin-bottom:0px;">
        <img id="mag" ng-src="../img/honolulu_magazine.png" class="img-responsive animated fadeIn"/>
      </div>
    </div>
</div>

<div id="callToAction" class="container animated fadeInUp">
    <div class="row">
      <p class="text-center">
        <a class="btn btn-primary" href="https://mbta.instructure.com" target="_blank">Enter Courses »</a>
        <a class="btn btn-success" href="#/test">Apply Now »</a>
      </p>
    </div>
</div>

<!--
<div id="announcements" class="container animated fadeInUp">
    <div  class="row"> 
      <div class="panel panel-default">
        <div class="panel-heading">Home Page</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <h2>Heading</h2>
              <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
              <p><a class="btn btn-primary" href="#/test">View details »</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
-->

