

<section id="feature" class="container">
    <div class="row">        
      <div class="col-md-offset-1 col-md-6">
        <div id="feature_msg" class="animated fadeIn">
          <h1>Welcome to Myron B. Thompson Academy</h1>
          <p>
           an innovative competency-based K-12 public charter school that provides high quality standards-based curriculum to all students across the state. As a school for anyone, anytime, Myron B. Thompson Academy offers greater flexibility for students in a non-traditional, educational environment.
          </p>
          <p class="text-center">       
            <a class="btn bt-lg btn-success" href="#/test">Apply Now »</a>
          </p>
        </div> 
      </div>
      <div id="mag" class=" col-md-5" style="margin-bottom:0px;">
        <img  ng-src="../img/honolulumag.png" class="img-responsive animated fadeIn"/>
      </div>
    </div>
</section>

<section id="callToAction" class="container animated fadeInUp">
    <div class="row">
      <p class="text-center">
        <a class="btn btn-success" href="https://mbta.instructure.com" target="_blank">Enter Courses »</a>       
        <a class="btn btn-primary"href="#/test"><i class="glyphicon glyphicon-calendar"></i> School Calendar »</a>
      </p>
    </div>
</section>

<section id="aboutUs" class="container animated fadeInUp">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>About Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="animated fadeInLeft" data-wow-delay="0.2s">
          <div class="service-box">
              <div class="service-icon">
                <img src="img/about/1.png" alt="" />
              </div>
              <div class="service-desc">
                <h5>Our Vision </h5>
                <p>MBTA creates an innovative, student-centered learning environment that provides equity, access and excellence for learners anywhere, anytime.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="animated fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-icon">
              <img src="img/about/2.png" alt="" />
            </div>
            <div class="service-desc">
              <h5>How we Teach</h5>
              <p>
                We are a innovative competency-based K-12 public charter school that provides high quality standards-based curriculum to all students across the state.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="animated fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-icon">
              <img src="img/about/3.png" alt="" />
            </div>
            <div class="service-desc">
              <h5>Our Test Scores</h5>
              <p>For the second time, U.S.News and World Reports awarded MBTA a Bronze medal in its list of the Best Schools in America.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <div class="animated fadeInRight" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-icon">
              <img src="img/about/4.png" alt="" />
            </div>
            <div class="service-desc">
              <h5>Our Programs</h5>
              <p>
                MBTA for two years has earned an A+ rating from Honolulu magazine in its annual listing of Hawaii's public schools. MBTA was rated first among 67 public high schools 
              </p>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
          <h3 class="lead text-success">
            Ranked #1 - K-12 Public School in the state for 2015 - by Honolulu Magazine              
          </h3>
      </div>
    </div>
</section>

<section id="whatsHappening" class="container animated">
  <div class="row text-center">
    <div class="col-md-12"> 
      <h2 class="text-center">What's Happening</h2>
    </div>
  </div>
  <div class="row text-center">
        <div class="col-sm-3 col-md-3">
          <div class="animated fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img class="img-responsive" src="img/lit-mag.png" alt="" style="width: 221px; height: 163px;"  />
              </div>
              <div class="service-desc">

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="animated fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img class="img-responsive" src="img/summer-school.png" alt="" style="width: 230px; height: 160px;" />
              </div>
              <div class="service-desc">

              </div>
            </div>
          </div>
        </div>  
        <div class="col-sm-3 col-md-3">
          <div class="animated fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img class="img-responsive" src="img/gritfest.png" alt="" style="width: 250px; height: 132px; margin-top:30px;" />

              </div>
              <div class="service-desc">

              </div>
            </div>
          </div>
        </div>                               
  </div>  
</section>

<section id="applyNow" class="container animated fadeInUp">
  <div class="row">
    <h2 class="text-center">Apply Now</h2>
  </div>
  <!--
  <div class="row" style="margin-top:10px;">
    <div class="col-md-offset-1 col-md-4">
      <iframe width="480" height="360" src="https://www.youtube.com/embed/67D5LoERiik?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
  -->
</section>


