
 <div class="container" style="min-height:2000px;">
  <div class="panel panel-default animated fadeInUp">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-ios-person-outline ion-lg"></i> Edit My Profile</legend>
       <ul>
        <li ng-if="isAdmin"><a class="btn btn-success pull-right" ui-sref="pages">Edit pages</a></li>
       </ul> 
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'https://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <div id="loading" ng-show="loading"><span class="ion-load-a glyphicon-refresh-animate"></span> Loading location...</div>
        <ui-gmap-google-map id="map" center='map.center' zoom='map.zoom'>           
            <div ng-repeat="m in markers">        
                 <ui-gmap-marker coords="m.coords" options="m.options" idkey="m.id" icon="m.icon">
                    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                        <div>{{m.title}}</div>
                    </ui-gmap-window>
                </ui-gmap-marker>                
            </div>       
        </ui-gmap-google-map>

        
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <!--
        <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="ion-social-facebook"></i> Link Facebook Account
        </button>
        -->

        <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
          <i class="ion-social-googleplus"></i> Unlink Google Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
          <i class="ion-social-googleplus"></i> Link Google Account
        </button>
      </div>
    </div>
  </div>
</div>